<h2>Contact me</h2>
      <div id="links">
        <img id="git" src="./media/logos/github.png" height="50px" width="50px">
        <img id="insta" src="./media/logos/insta.jfif" height="50px" width="50px">
        <img id="linkdin" src="./media/logos/linkdin1.png" height="50px" width="50px">
        <img id="copy" onclick="copyToClipboard('#cpy')" src="./media/logos/messages" height="50px" width="50px">
      
        <span id="msg"></span>
      </div>
      <div id="copyright">  &copy; Designed and Built by Surjeet Lodhi
      </div>
      <div id="last-update">

      </div>
      <script src="../script.js"></script>