<div id="intro-lite">
    <h1>Hello There 👋</h1>
    <h3>I'm Surjeet Lodhi, a student currently studying 3rd year of<br> computer science in <a href="https://www.lpu.in" target="_blank">L.P.U.</a></h3><br>
    <span id="down-line"></span>
  </div>
  <div id="my-image">
    <img src="./media/pics/IMG_20200610_070814.jpg" alt="surjeet.jpg"  height="280px" width="280px" />
  </div>
<div id="text-container">    <p>
    I'm enthusiastic about tech in coding and learning new things about computers and what they can do. I've been dabbling with coding since roughly age of 18, until I started studying computer science at university at 19 where my interest really peaked. Take a peek at the projects I have done, or jump straight to my <a href="https://github.com/surjeetlodhirajput">github</a>. When I have time over I sometimes  answer questions in forums and helping people with code.
  <br><br>  Other than coding I enjoy tinkering with computers and my homelab.I also love to attended hackathons where people and code meet togheter to solve solutions in a hastly manner.
  </p>
</div>
