<h2>PROJECTS</h2>
      <span></span>
      <ul id="ulOne">
        <li>
          <div class="card">
            <img alt="cardImage" class="cardImage" src="./media/prjp/imagecomp.png"><div class="text">
              I had created an app in python using <br>
             which  we can compress the size of mobile images 
              without affecting its quality.
            </div>
            <div class="downcard">
              <img alt="python" src="./media/pics/logos/python.png" class="dimage" height="20px" width="20px"><a href="https://github.com/surjeetlodhirajput" class="code">code</a>
            </div>
          </div>
          
        </li >
        <li >
          <div class="card">
            <img alt="cardImage" class="cardImage" src="./media/prjp/node.jfif"><div class="text">
              I had created an chat app using nodejs<br>
              and socket which can be used  for chatting by creating the rooms
            </div>
            <div class="downcard">
              <img alt="python" src="./media/pics/logos/js.png" style="border-radius: 3px;" height="20px" width="20px"><a href="https://github.com/surjeetlodhirajput" class="code">code</a>
            </div>
          </div>
          
        </li>

        <li>
          <div class="card">
            <img alt="cardImage" class="cardImage" src="./media/prjp/java.jfif"><div class="text">
              I had created an app in java using <br>
              we can extract the links either from webpage or whole website
            </div>
            <div class="downcard">
              <img alt="python" src="./media/pics/logos/java.png" height="20px" width="20px"><a href="https://github.com/surjeetlodhirajput" class="code">code</a>
            </div>
          </div>
          
        </li>
        </ul id="ulTwo">
        <ul>
        <li>
          <div class="card">
            <img alt="cardImage" class="cardImage" src="./media/prjp/java2.jfif"><div class="text">
              I had created an app in using using <br>
              we can extract the images either from webpage or whole website
            </div>
            <div class="downcard">
              <img alt="python" src="./media/pics/logos/python.png" height="20px" width="20px"><a href="https://github.com/surjeetlodhirajput" class="code">code</a>
            </div>
          </div>
          
        </li>

        
        
      </ul>
      