<div id="languages">
    <h2>Languages</h2><br><span></span><br>
    <ul id="langu">
      <li><img class="ski" src="./media/pics/logos/c++.png" ><h3>C++</h3></li>
      <li><img class="ski" src="./media/pics/logos/python.png"><h3>PYTHON</h3></li>
      <li><img class="ski" src="./media/pics/logos/download.png"><h3>CSS</h3></li>
      <li><img class="ski"  src="./media/pics/logos/html.png"><h3>HTML</h3></li>
      <li><img class="ski" src="./media/pics/logos/java.png"><h3>jAVA</h3></li>
      <li><img class="ski" src="./media/pics/logos/js.png"><h3>JAVASCRIPT</h3></li>
    </ul>
  </div>
  <div id="tools">
    <h2>Tools</h2><br><span></span><br>
    <ul id="tool">
      <li><img class="ski" src="./media/pics/logos/dj.png"><h3>DJANGO</h3></li>
      <li><img class="ski" src="./media/pics/logos/github.png"><h3>GITHUB</h3></li>
      <li><img class="ski" src="./media/pics/logos/vs.png"><h3>VISUAL STUDIO</h3></li>

    </ul>
  </div>
